<ion-header>
  <ion-toolbar>
    <ion-title>
      Casa Suta
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
  <p>Check list de fim de montagem é uma ferrameta que tem o objetivo de garantir a excêlencia e a qualidade dos serviços prestados,
   caso encontre uma pendencia que não pode ser resolvida não marque o cheque box,
   e envie uma observação em forma de uma mensagem simples e objetiva.
   Use o campo de observação mesmo que seja uma pendencia solucionavel a fim de gerar a informação pra melhoria continua! Reserve um tempo de qualidade pra executar essa ferramnta, evite distraçoes, e bom trabalho!</p>
  </div>
  <div>
    <ion-button  expand="block" (click)="opemChecMont()">iniciar</ion-button>
  </div>
</ion-content>


