<ion-header>
  <ion-toolbar>
    <ion-title>Check List Monatagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCheck" (ngSubmit)="formPost()">
    <div *ngIf="sections[0]">
      <ion-item>
        <ion-label position="floating">Cliente</ion-label>
        <ion-input type="text" formControlName="cliente" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text" formControlName="endereco" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ambiente</ion-label>
        <ion-input type="text" formControlName="ambiente" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Móvel</ion-label>
        <ion-input type="text" formControlName="movel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="text" formControlName="telefone" autocomplete="tel" maxlength="15" minlength="10"
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Proficional</ion-label>
        <ion-input type="text" formControlName="montador" required></ion-input>
      </ion-item>
      <ion-button (click)="toggleSection(1)">Próxima Seção</ion-button>
    </div>
    <div *ngIf="sections[1]">
      <p>Montagem</p>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Apresenta riscos ou batidas nas peças</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
              (ionChange)="onCheckboxChange($event, 'riscos', 'Não Apresenta riscos ou batidas nas peças')">
            </ion-checkbox>
          </ion-card-subtitle>
          <ion-input formControlName="riscosObs" type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <p>Apresenta erros de furação</p>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ponto de esgoto: (Sifão, Vazamnetos... etc.)</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'esgoto', 'Nenhuma anomalia nos Ponto de esgoto: (Sifão, Vazamnetos... etc.')"></ion-checkbox>
          </ion-card-subtitle>
          <ion-input formControlName="esgotoObs" type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ponto de Agua (verificar registro geral): Fechado/Aberto, vazamentos etc.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'agua', 'Não Apresenta vazamento nos Ponto de Agua (Foi verificado registro geral Fechado/Aberto')">
          </ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ponto de tomada: Acabamento, espelho, fixação, etc.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'tomada', 'Verificado os ponto de tomada (espelho, fixação, etc.')">
          </ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ponto de interrupitor: Acabamento, espelho, fixação, etc.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'interrupitor', 'verificado os ponto de interrupitor (acabamento, espelho, fixação, etc.)')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ponto de gás: Colocação de mangueiras e registros, etc.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'gas', 'Foi verificado ponto de gás: Colocação de mangueiras e registros, etc.')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <p>Abertura de portas e gavetas</p>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Funcionalidades e fixação das dobradiças (colocar todos os parafusos).</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'dobra', 'Não Apresenta anomalia nas funcionalidades e fixação das dobradiças (foi colocado todos os parafusos)')".
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Deslizamento das gavetas e gavetões</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'gaveta', 'Testado o deslizamento das gavetas e gavetões')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Funcionalidades das corrediças</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'corredica', 'Não Apresenta anomalias Funcionalidades das corrediças')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Funcionalidades das basculas</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'bascula', 'Testado as funcionalidades das basculas')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Funcionalidades dos pistãos</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'pistao', 'Testado as funcionalidades dos pistãos')"
             ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <p>Puxadores</p>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Funcionalidades dos pistãos</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'riscos', 'Não Apresenta')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Acabamentos laterais e frestas</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'acabamento', 'Foi verificado acabamentos laterais e frestas')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <p>Portas de corres</p>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Deslizamento das portas</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'Deslizamento', 'Verificado o deslizamento das portas')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Fechamento das portas (Ajuste dos esquadros)</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'fechamento', 'Conferido fechamento das portas (Ajuste dos esquadros)')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Amortecedores, freios/limitadores</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'amortecedore', 'Não Apresenta anomalias Amortecedores, freios/limitadores')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Aberturas dos internos(gavetas, sapateiras, etc.)</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'interno', 'Verificado aberturas dos internos(gavetas, sapateiras, etc.)')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Cabideiros</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'cabideiro', 'Verificado os Cabideiros')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>União e nivelamento dos móveis</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'nivelamento', 'Foi verificado nião e nivelamento dos moveis')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-button (click)="toggleSection(0)">Seção Anterior</ion-button>
      <ion-button (click)="toggleSection(2)">Próxima Seção</ion-button>
    </div>
    <div *ngIf="sections[2]">
      <p>Acabamento</p>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tamponamento</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'tamponamento', 'Foi verificado o acbamendo dos Tamponamentos')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Alinhamento com outros móveis</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'alinhaMovei[l]', 'Foi verificado o alinhamento com outros móveis')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Alinhamento com a pia</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'AlinhaPia', 'Verificado alinhamento com a pia')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Alinhamento com molduras, ceramicas e etc.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'alinhaMol', 'Verificado alinhamento com molduras, ceramicas e etc.')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Parafusos aparentes</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'Parafuso', 'Não Apresenta parafusos aparentes')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Capa de plastico cantoneira, tampinha CLP, etc</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'acabPlast', 'Instalado todas as Capa de plastico cantoneira, tampinha CLP, etc')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Acabamento com silicone ou PU</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'acabPU', 'Feito acabamento com silicone ou PU')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Acabamento das fitas de bordas</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'acabBord', 'Conferido os acabamento das fitas de bordas')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Acabamento dos amários</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'acabArm', 'Conferidos os acabamento dos amários')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Instalçao de leds, spots,fixação, embutir fontes.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'led', 'Não Apresenta anormalidades nas instalçao de leds, spots,fixação, embutir fontes.')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-button (click)="toggleSection(1)">Seção Anterior</ion-button>
      <ion-button (click)="toggleSection(3)">Próxima Seção</ion-button>
    </div>
    <div *ngIf="sections[3]">
      <ion-card>
        <p>Limpeza</p>
        <ion-card-header>
          <ion-card-title>No móvel em geral(parte interna, prateleira, fundos, parte interna das
            gavetas)</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'limpGeral', 'Feito a limpeza No móvel em geral(parte interna, prateleira, fundos, parte interna das
            gavetas)')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>restos de cola, silicone, etc.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'cola', 'Não Apresenta restos de cola, silicone, etc.')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Etiquetas, restos de fita adesiva, etc.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'etiqueta', 'Não Apresenta etiquetas, restos de fita adesiva, etc.')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Marcação de lápis, caneta, canetões.</ion-card-title>
          <ion-card-subtitle>
            <ion-checkbox [checked]="false"
            (ionChange)="onCheckboxChange($event, 'marcacoes', 'Não Apresenta marcação de lápis, caneta, canetões.')"
            ></ion-checkbox>
          </ion-card-subtitle>
          <ion-input type="text" label="Observação"></ion-input>
        </ion-card-header>
      </ion-card>
      <ion-button (click)="toggleSection(2)">Seção Anterior</ion-button>
      <ion-button type="submit" expand="block">Enviar</ion-button>
    </div>
  </form>
</ion-content>
